.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px ;
    width: 100%;
    max-width: 1370px;
  }
  
  .section {
    background: rgba(204, 204, 204, 0.40);
    /* background:     url("../../../assets/images/texture (2).png") lightgray 50% / cover no-repeat,; */

    /* rgba(204, 204, 204, 0.40), */
  /* background-blend-mode: multiply; */
    padding: 15px;
    padding-top: 32px ;
    border-radius: 20px;
    width: 49%;
    height: 160px;
  }



.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../assets/images/texture.png") lightgray 50% / cover no-repeat;
    z-index: -1;
    opacity: 0.5; /* Adjust opacity as needed */
  }
  
  .title {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
  }
  
  .subtitle {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  
  /* Input & Button Container */
  .inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    background: #f4f2f2;
    overflow: hidden;
    height: 40px;
    padding: 5px;
  }
  
  /* Input Field */
  .input {
    flex: 1;
    border: none;
    outline: none;
    background-color: green;
    /* padding: 15px 20px; */
    font-size: 14px;
    font-family: Poppins;
    color: #666;
    /* border-radius: 50px 0 0 50px; */
  }
  
  .input::placeholder {
    color: #999;
  }
  
  /* Signup Button */
  .button {
    /* background-color: #2F7D1C; */
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    border-radius: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 100px;
background: #2E8B57;
  }
  
  .button:hover {
    background-color: #256613;
  }
  
  /* Social Media Icons */
  .icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .icon {
    /* background-color: black; */
    padding: 8px;
    /* border-radius: 5px; */
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 5px;
background: #333;
    width: 30px;
height: 30px;
flex-shrink: 0;
  }
  
  .icon:hover {
    background-color: #333;
  }
  @media  (max-width: 760px) {
    .footer{
        flex-direction: column;
        gap: 32px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .section{
        width: 100%;
    }
  }