/* Navbar.css */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 1000;
  }
  
  .navbarTransparent {
    background-color: transparent;
  }
  
  .navbarSolid {
    background-color: #000; /* or any dark color */
  }
  
  .navbar-logo {
    font-size: 24px; /* Adjust the size as needed */
    color: #fff; /* Logo color */
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-item {
    text-decoration: none;
    color:white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    margin:10px;
  }
  
  .nav-item:hover,
  .active {
    color: #ddd; /* Lighter color on hover/active */
    border-bottom: 2px solid #fff; /* Bottom border on hover/active */
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 20px;
    }
  
    .navbar-links {
      flex-direction: column;
    }
  
    .nav-item {
      margin: 10px 0; /* More space between links on smaller screens */
    }
  }
  