.App {
  /* display: flex;

  justify-content: center;
  align-items: center;*/
  /* width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(33, 33, 33);  */
  /* background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png"); */
}
