.register {
  margin: 70px 0px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  /* text-transform: capitalize; */

  width: 100vw;
  /* height: 100%; */
  /* background: #0f0f0f; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  color: #2E8B57;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%); */
  /* border-radius: 8px; */
  padding: 1rem;
}

form {
  /* width: 400px; */
display: flex;
flex-wrap: wrap;
max-width: 600px;
justify-content: center;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.form-ddd{
  padding: 10px;
  margin-bottom: 18px;
}
.form-container {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin: 8px 0;
  box-sizing: border-box;

  border: none;
  border-radius: 30px;
  background: #666;
  color: #CCC;

  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.form-container::placeholder {
  color: #CCC;
}

input[type="file"].form-container {
  padding: 8px;
  height: auto;
  /* background: transparent; */
  /* color: #EEE; */
  border-radius: 30px;

}

select.form-container {
  background: #666;
  color: #CCC;
  border: none;
}

.registerButton {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 100px;
  background: #2E8B57;
  color: #FFF;

  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;

  cursor: pointer;
}

/* .upload-label {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 30px;
  background: #444;
  color: #ccc;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background 0.3s ease;
} */
/* 
.upload-label:hover {
  background: #2E8B57;
  color: #fff;
}

input[type="file"] {
  display: none;
} */
.form-errors {
  /* background-color: #ffe0e0; */
  /* border: 1px solid #ffaaaa;
  color: #b00020;
  border-radius: 5px; */
  padding: 10px 15px;
  margin-bottom: 15px;
  font-family: Poppins;
  font-size: 14px;
}

.form-errors ul {
  margin: 0;
  padding-left: 20px;
}

.form-errors li {
  list-style-type: disc;
}
