
h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h4{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h5{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;

}


.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px; */
}

.herosection{
    /* background-image: url('../../assets/bg-image.jpg'); Replace 'path_to_your_image.jpg' with the actual path to your image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    /* max-width: ; */
    /* height: 100vh; */
background-color: #13181d;
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-size: cover; /* This makes the image cover the entire div without repeating */
}
.content-herosection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    text-align: center;

}

.content-herosection p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: aqua; */
font-size: 20px;
color: #4d4d4d;
}

.content-herosection h1{
  color: #E8B98A;
  background: linear-gradient(45deg, #E8B98A, #C6E296, #7DD591, #D8CC90, #99DA93);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: animated-text 10s ease infinite;
}



.sc_switcher_controls{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em;
  margin: -40px;
  height: 10px;
}


.huge-collection-section {
  color: #fff; 
  padding: 100px 20%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left; /* Default text alignment */
}

.content-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  max-width: 1834px; 
  width: 100%; 
  padding: 0 20px; 
}

.text-block, .description-block {
  flex: 1;
  padding: 0 20px;
}

.title {
  font-size: 48px; 
  font-weight: bold; 
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  margin-bottom: 10px;
}

.description {
  font-size: 18px; 
  line-height: 1.6; 
  margin-top: 0; 
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .huge-collection-section {
    padding: 60px 10%;
  }

  .content-container {
    flex-direction: column; /* Stack content vertically on smaller screens */
    text-align: center; /* Center text for smaller screens */
  }

  .text-block, .description-block {
    padding: 10px 0;
  }

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .huge-collection-section {
    padding: 40px 5%;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }
}

.tools-section-2 {
  background-color: #13181d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px 20px;
  color: white;
}

.content-tools-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  text-align: center;
}

.content-tools-section-2 p {
  font-size: 22px;
}

.grid-tools-section-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .grid-tools-section-2 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
  }
}

@media (max-width: 768px) {
  .grid-tools-section-2 {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
  }
}

.items-grid-tools-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.items-grid-tools-section-2 img {
  width: 100%;
  max-width: 440px;
  height: auto;
  display: block;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.items-grid-tools-section-2 img:hover {
  transform: scale(1.05);
}
  .clients-section-2{
    background-color: #13181d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    /* max-width: ; */
    /* min-height: ; */
    padding: 80px;
    padding-left:200px;
    padding-right:200px;
color: white;
    /* background-color: aqua; */
}



.heading-clients-section-2{
  /* background-color: gray; */
  display: flex;
  flex-direction: row;
  justify-content: left;
color: white;
 
}
.content-clients-section-2{
  /* background-color: gray; */
  /* display: flex;
  flex-direction: row;
  justify-content: spa;
color: white; */
  
}
  .grid-clients-section-2 {
    display: grid;
    /* justify-content: space-between; */
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    /* grid-row-gap: 200px;  */

  }
  

  /* Example of a media query for a screen width of 768px or less */
  @media (max-width: 768px) {
    .grid-clients-section-2 {
      grid-template-columns: repeat(2, 1fr); /* Change to 2 columns */
    }
  }
  
  /* Example of a media query for a screen width of 480px or less */
  @media (max-width: 480px) {
    .grid-clients-section-2 {
        padding: 50px;
        grid-template-columns: repeat(1, 1fr); /* Switches to 1 column for small screens */
        grid-gap: 30px; /* Reduces gap for smaller screens */
      }
  }

  .items-grid-clients-section-2{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* max-width: 340px; */
    text-align: center;
    /* padding :10px; */
}
  .grid-clients-section-2 img {
    width: 100%; /* Make the image width responsive */

    max-width: 440px;
    max-height: 240px;
    /* height: auto; */
    display: block;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
/* 
.content-herosection h1 {
    
    width:100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;

}


.content-herosection p  {
    width:100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;

} */




.about-us-section{
  display: flex;
  /* height: 500px; */
  /* width: 100%; */
  background-color: aqua;
  background: linear-gradient(to top, gray, #e6e6e6);
  /* padding: 20px; */
  align-items: center;
  justify-content: space-between;
  /* justify-content: ; */
}

.content-about-us-section .img-about-us-section{
  /* display: flex;
   */
   /* flex-grow: 6; */
   max-width: 50%;
  /* justify-content: ; */
}



.img-about-us-section {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-about-us-section img{
  max-width: 100%;
  height: auto;
  display: block;
}
.content-about-us-section{
/* background-color: bisque; */
  padding-left: 100px;
  padding-right: 100px;
}
.content-about-us-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.content-about-us-section p {
  font-size: 1em;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .about-us-section {
      flex-direction: column;
      text-align: center;
  }

  .content-about-us-section,
  .img-about-us-section {
      max-width: 100%;
  }
}
/* 
.about-us-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.content-about-us-section {
  max-width: 50%;
}







 */

/*  */

.contact-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* background: linear-gradient(to top, #ffffff, #e6e6e6); Adjust the colors as needed */
  padding-top: 70px;
  padding-left: 200px;
  padding-right: 200px;
}

.content-contact-us-section {
  width: 50%;
  padding-right: 20px; /* Adjust as needed */
}

.form-contact-us-section {
  width: 50%;
  padding-left: 20px; /* Adjust as needed */
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 0px solid #ccc;
  background-color: #ededed;

  border-radius: 6px;
}

.form-input-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.form-group{
  width:100%;
  margin: 5px;
}
button[type="submit"] {
  background-color: #4d4d4d; /* Adjust the color as needed */
  color: white;
  padding: 5px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: right;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Additional responsive adjustments */
@media (max-width: 768px) {
  .contact-us-section {
      flex-direction: column;
      padding: 70px;
  }

  .content-contact-us-section, 
  .form-contact-us-section {
      width: 100%;
      padding: 0;
  }
}

.home-button{
    color:black;
    background-color: white;
    border: none;
    /* border-radius: 5px;
     */
    padding: 15px 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: aqua; */
    font-family: sans-serif;
  font-size: 20px;
  color: #4d4d4d;
}

.content-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background: linear-gradient(to top, #8c8c8c, white); 
}

.scrollableContainer {
  max-height: 800px;
  overflow-y: auto;
  width: 100%;
  margin-top: 20px;
  padding: 0px 350px ;
}
/* Footer.css */

.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 25%;
  font-family: 'Arial', sans-serif;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px; /* Space before the bottom copyright */
}

.footer-title {
  font-size: 35px;
  margin-bottom: 20px;
}

.footer h1 {
  font-size: 24px;
  margin: 0; /* Remove default margin */
  margin-bottom: 10px;
  flex: 1; /* Take the required space */
}

.footer p {
  color: #8c8c8c;
  margin: 0; /* Remove default margin */
  flex: 1; /* Take the required space */
}

.footer-address, .footer-contact, .footer-social {
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff; /* Ensure links are white */
  text-decoration: none; /* No underline */
  margin: 5px 10px; /* Margin for spacing */
  font-size: 24px;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
  }

  .footer-address, .footer-contact, .footer-social {
    align-items: flex-start;
    text-align: left;
  }
}
